<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://org54ef660c.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="ap" value="OnlineFederation"/>
    <add key="method" value="OAuth"/>
    <add key="mfaAppId" value="d8b67eae-028a-46a5-8813-99fc05fabc17" />
    <add key="mfaReturnUrl" value="https://login.microsoftonline.com/common/oauth2/nativeclient" />
    <add key="username" value="admin@CRM587753.onmicrosoft.com" />
    <add key="password" value="a9JWku0zZJ" />
    <add key="out" value="../../ts/xrmdefinitlytyped" />
    <add key="jsLib" value="../../js/xrmdefinitlytyped" />
    <add key="web"/>
  </appSettings>
</configuration>